<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="MediaLounge_Slider::slider_elements" title="Media Lounge Slider" module="MediaLounge_Slider" sortOrder="100" resource="MediaLounge_Slider::slider_elements" parent="Magento_Backend::content"/>
        <add id="MediaLounge_Slider::banner" title="Banners" module="MediaLounge_Slider" sortOrder="10" action="medialounge_slider/banner" resource="MediaLounge_Slider::banner" parent="MediaLounge_Slider::slider_elements"/>
        <add id="MediaLounge_Slider::slider" title="Sliders" module="MediaLounge_Slider" sortOrder="20" action="medialounge_slider/slider" resource="MediaLounge_Slider::slider" parent="MediaLounge_Slider::slider_elements"/>
    </menu>
</config>